includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
    paths:
        - src
        - tests

    # Ignore vendor issues
    excludePaths:
        - vendor
        - tests/Fixtures
